
	<a th:replace="/navbar.html :: navbar" href="/"></a><!DOCTYPE html>
<html lang="es" class="fondo1" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Monoplaza - Pilotos</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
	<h3 class="display-4 my-4 text-center">
		<span
			th:text="${monoplaza.id != 0} ? 'Editar monoplaza' : 'Nuevo monoplaza'"></span>
	</h3>
	<div
		class="container text-center align-self-center  w-75 rounded-lg shadow bg-light border border-dark">
		<form method="post" action="#" class="justify-content-center"
			th:action="@{/monoplazas/new/submit}" th:object="${monoplaza}">
			<input type="hidden" th:field="*{id}" id="id" />
			<div class="form-group my-3">
				<label for="fabricante"
					class="col-4 col-form-label d-none d-md-inline-flex">
					Nombre Fabricante: </label> <input class="col-7 form-control d-inline-block"
					type="text" id="fabricante" placeholder="Fabricante"
					th:field="*{fabricante}" required />
			</div>
			<div class="form-group my-3">
				<label for="modelo"
					class="col-4 col-form-label d-none d-md-inline-flex">
					Nombre Modelo: </label> <input class="col-7 form-control d-inline-block"
					type="text" id="modelo" placeholder="Modelo"
					th:field="*{modelo}" required />
			</div>
			<div class="form-group my-3">
				<label for="potencia"
					class="col-4 col-form-label d-none d-md-inline-flex">
					Caballos de Potencia: </label> <input
					class="col-7 form-control d-inline-block" type="number"
					id="potencia" placeholder="Cv potencia" value="1200"
					th:field="*{potencia}" required />
			</div>
			<div class="form-group my-3">
				<button class="btn btn-outline-success mt-2 mb-5" type="submit">
					Confirmar</button>
			</div>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>